.bodyPay {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: left;
  align-items: left;

  margin: 0;
  padding: 0;

  font-family: "Josefin Slab", Regular;
}

/*.sectionPay */
.sectionPay {
  width: 50%;
  min-height: inherit;

  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;

  position: relative;
}

.sectionPay::before,
.sectionPay::after {
  content: "";
  display: block;

  border-radius: 100%;

  position: absolute;
}

.sectionPay::before {
  width: 30px;
  height: 30px;

  clip-path: polygon(0 100%, 100% 0, 100% 100%);

  top: 18px;
  left: 18px;
}

.sectionPay::after {
  width: 42px;
  height: 42px;

  top: 11px;
  left: 11px;
}

.lightPay {
  --primary: white;
  --other: hsl(0, 0%, 14%);

  background: transparent;
}

.darkPay {
  --primary: hsl(1, 100%, 68%);
  --other: hsl(0, 0%, 90%);

  background: hsl(0, 0%, 10%);
}

/* h1 */
.h1Pay {
  color: var(--primary);
  padding: 8px 4px;
  border-bottom: 2px solid var(--primary);
}

/* label */
.labelPay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 12px 0;

  cursor: pointer;
  position: relative;
}

/* input */
.inputPay {
  opacity: 0;
  position: absolute;
  /*left: 50%;*/
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* .design */
.designPay {
  width: 16px;
  height: 16px;

  border: 1px solid var(--primary);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.designPay::before,
.designPay::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.designPay:before {
  background: var(--primary);
  opacity: 0;
  transition: 0.3s;
}

.designPay::after {
  background: var(--primary);
  opacity: 0.4;
  transition: 0.6s;
}

/* .text */
.textPay {
  color: var(--primary);
  font-weight: bold;
}

/* checked state */
.inputPay:checked + .designPay::before {
  opacity: 1;
  transform: scale(0.6);
}

/* other states */
.inputPay:hover + .designPay,
.inputPay:focus + .designPay {
  border: 1px solid var(--primary);
}

.inputPay:hover + .designPay:before,
.inputPay:focus + .designPay:before {
  background: var(--primary);
}

.inputPay:hover ~ .text {
  color: var(--primary);
}

.inputPay:focus + .designPay::after,
.inputPay:active + .designPay::after {
  opacity: 0.1;
  transform: scale(2.6);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 16px;
}
